<label class="header-label"
       >Select a coin</label>
<i class='ico ico-rail select-box-icon'></i>
<select class='select-box'
        [(ngModel)]="selectedCoin" 
        >
<option *ngFor='let coin of coins'
   [ngValue]='coin.id'>{{coin.name}}</option>
</select>
<form [formGroup]="form" (ngSubmit)="submit()">
           
    <div class="form-group">
        <label for="searchType">View options:</label>
        <div>
          <input id="current" type="radio" value="current" name="searchType" formControlName="searchType" (change)="changeSearchType($event)">
          <label for="current">Current price</label>
       </div>

       <div>
          <input id="daily" type="radio" value="daily" name="searchType" formControlName="searchType" (change)="changeSearchType($event)">
          <label for="daily">Daily prices</label>
       </div>

       <div>
        <input id="exchange" type="radio" value="exchange" name="searchType" formControlName="searchType" (change)="changeSearchType($event)">
        <label for="exchange">Daily trade // this does nothing but the network call at the moment when pressing submit</label>
     </div>
          
        <div *ngIf="f.searchType.touched && f.searchType.invalid" class="alert alert-danger">
            <div *ngIf="f.searchType.errors.required">Please select a view option</div>
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>

    <h2 *ngIf="price">current price of {{selectedCoin}} is {{price | currency: 'GBP'}}</h2>
    <div *ngIf="showGraph">
        <app-chart [data]=data></app-chart>
    </div>
</form>

